<table>
  <thead>
    <tr>
      <th>Alias</th>
      <th>Host</th>
      <th>Port</th>
      <th>Environment</th>
      <th>Type</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

<% @db_instances.each do |db_instance| %>
  <tr class="db_instance <%=h db_instance.db_env %> <%= cycle 'odd', 'even' %>">
    <td><%=h db_instance.db_alias %></td>
    <td><%=h db_instance.host %></td>
    <td><%=h db_instance.port %></td>
    <td><%=h db_instance.db_env %></td>
    <td><%=h db_instance.db_type %></td>
    <td><%= link_to 'Show', db_instance %></td>
    <td><%= link_to 'Edit', edit_db_instance_path(db_instance) %></td>
    <td><%= link_to 'Delete', db_instance, {:confirm => 'Are you sure?', :method => :delete} %></td>
  </tr>
<% end %>
  <tr>
    <td colspan="8">
      <ul class="actions">
        <li><%= link_to 'New database instance', new_db_instance_path %></li>
      </ul>
    </td>
  </tr>
</table>