<p>
  <b>Alias:</b>
  <%=h @db_instance.db_alias %>
</p>

<p>
  <b>Host:</b>
  <%=h @db_instance.host %>
</p>

<p>
  <b>Port:</b>
  <%=h @db_instance.port %>
</p>

<p>
  <b>Environment:</b>
  <%=h @db_instance.db_env %>
</p>

<p>
  <b>Type:</b>
  <%=h @db_instance.db_type %>
</p>