<%= render :partial => 'shared/form_error', :locals => {:f => f} %>
<div>
  <p>
    <%= f.label :update_sql, 'Update SQL' %><br />
    <%= f.text_area :update_sql, :class => 'span-23 sql' %>
  </p>
</div>

<hr />

<div>
  <div class="span-11 colborder">
      <%= f.label :preparation %><br />
      <%= f.text_area :preparation, :class => 'span-11' %>
  </div>
  <div class="span-11 last">
      <%= f.label :rollback_sql, 'Rollback SQL' %><br />
      <%= f.text_area :rollback_sql, :class => 'span-11' %>
  </div>
</div>

<hr class="space" />
<hr />

<div>
  <div class="span-3">
    <%= f.label "db_instances_test", "Test Database" %><br />
    <%= f.collection_select :db_instance_ids, DbInstance.env_test, :id, :to_s, {:include_blank => '-- Select --'}, { :name => 'version[db_instance_ids][]', :class => 'span-3' } %>
  </div>
  <div class="span-6">
    <%= f.label :schema, 'Test Database Schema' %><br />
    <%= f.text_field :schema, :class => "span-6" %>
  </div>
  <div class="span-10 last">
    <%= render :partial => 'shared/db_credentials_form' %>
  </div>
</div>

<hr class="space" />
<hr />