<fieldset>
  <legend>Update SQL - Merge to dev</legend>
  <pre class="brush: sql"><%=h create_update_sql(version) %></pre>

  <% form_for(version, :url => merge_app_activity_version_path(version.activity.app, version.activity, version)) do |f| %>
    <%= render :partial => 'shared/form_error', :locals => {:f => f} %>
    <%= f.hidden_field :state, :value => Version::STATE_MERGED %>
    <div>
      <div class="span-4">
        <%= label_tag 'dev_db_instance_id', 'Dev Database' %><br />
        <%= select_tag 'dev_db_instance_id', '<option>-- Select --</option>' + options_from_collection_for_select(DbInstance.env_dev, :id, :to_s), {:class => 'span-4'} %>
      </div>
      <div class="span-5">
        <%= label_tag 'dev_schema', 'Dev Database Schema' %><br />
        <%= text_field_tag 'dev_schema', {}, :class => 'span-5' %>
      </div>
    </div>
    <%= render :partial => 'shared/db_credentials_form' %>
    <br /><%= submit_tag 'Merge' %>
  <% end %>
</fieldset>