<div class="box version <%=h version.state %>">
  <div class="clearfix">
    <h2>Version</h2>

    <div class="span-6">
      <h3><%=h version %></h3>
      <span class="date">Last changed <%=h time_ago_in_words(version.updated_at) %> ago</span>
    </div>

    <div class="info span-3">
      <span><strong>Version</strong> <%=h version.schema_version %></span>
      <span><strong>State</strong> <%=h version.state %></span>
    </div>

    <div class="info span-4">
      <% version.db_instances.each do |db_instance| %>
      <span class="db"><strong><%=h db_instance.db_env.capitalize %> Database</strong> <%=h db_instance %></span>
      <% end %>
      <span><strong>Schema</strong> <%=h version.schema %></span>
    </div>

    <% if version_tested(version) %>
    <div class="span-2">
      <% form_for(version, :url => deploy_app_activity_version_path(version.activity.app, version.activity, version)) do |f| %>
        <%= f.hidden_field :state, :value => Version::STATE_DEPLOYED %>
        <%= f.submit 'Deployed' %>
      <% end %>
    </div>
    <% end %>

    <div class="append-1">
      <ul class="actions">
        <li><%= link_to 'Show', app_activity_version_path(version.activity.app, version.activity, version) %></li>
        <% if version_created(version) %>
        <li><%= link_to 'Edit', edit_app_activity_version_path(version.activity.app, version.activity, version) %></li>
        <li class="destroy"><%= link_to 'Delete', delete_app_activity_version_path(version.activity.app, version.activity, version) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>