<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Brazil: <%=h generate_title(@_crumbs) %></title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <%= stylesheet_link_tag "blueprint/screen", "brazil/screen", :media => "screen, projection" %>
  <!--[if IE]><%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %><![endif]-->
  <%= stylesheet_link_tag "blueprint/print", "brazil/print", :media => "print" %>
  <%= stylesheets %>

  <%= javascript_include_tag "jquery/jquery-1.2.6.min", "jquery/jquery.dimensions.min", "jquery/jquery.form" %>
  <%= javascript_include_tag "jquery.ui/ui.core.min", "jquery.ui/effects.core.min", "jquery.ui/effects.drop.min" %>
  <%= yield :view_external_js %>
  <%= javascripts %>

  <%= atom_feed_tag %>
</head>
<body>
  <div class="container">
    <div id="brazil-release">Brazil: <%=h brazil_release %></div>
    
    <div id="top-navigation">
      <ul>
        <li><%= link_to 'Apps', apps_path %></li>
        <li><%= link_to 'Database Instances', db_instances_path %></li>
      </ul>
    </div>

  	<hr/>

  	<div id="breadcrumbs"><%= render_crumbs %></div>

    <hr/>

    <div class="messages">
      <div id="notice" class="box success"<%= ' style="display:none;"' unless flash[:notice] %>><%= flash[:notice] %></div>
      <div id="error" class="box error"<%= ' style="display:none;"' unless flash[:error] %>><%= flash[:error] %></div>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>